WebComment.API/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoLogin_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserOrEmpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoLogin_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoLogin_InfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserLDAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserLDAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserLDAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserLDAPDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserLDAPDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserLDAPDomainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoLogin_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:DoLogin_Info" />
  </wsdl:message>
  <wsdl:message name="DoLogin_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:DoLogin_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="DoLoginSoapIn">
    <wsdl:part name="parameters" element="tns:DoLogin" />
  </wsdl:message>
  <wsdl:message name="DoLoginSoapOut">
    <wsdl:part name="parameters" element="tns:DoLoginResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserLDAPSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserLDAP" />
  </wsdl:message>
  <wsdl:message name="FindUserLDAPSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserLDAPResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserLDAPDomainSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserLDAPDomain" />
  </wsdl:message>
  <wsdl:message name="FindUserLDAPDomainSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserLDAPDomainResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DoLogin_Info">
      <wsdl:input message="tns:DoLogin_InfoSoapIn" />
      <wsdl:output message="tns:DoLogin_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoLogin">
      <wsdl:input message="tns:DoLoginSoapIn" />
      <wsdl:output message="tns:DoLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserLDAP">
      <wsdl:input message="tns:FindUserLDAPSoapIn" />
      <wsdl:output message="tns:FindUserLDAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserLDAPDomain">
      <wsdl:input message="tns:FindUserLDAPDomainSoapIn" />
      <wsdl:output message="tns:FindUserLDAPDomainSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoLogin_Info">
      <soap:operation soapAction="http://tempuri.org/DoLogin_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoLogin">
      <soap:operation soapAction="http://tempuri.org/DoLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserLDAP">
      <soap:operation soapAction="http://tempuri.org/FindUserLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserLDAPDomain">
      <soap:operation soapAction="http://tempuri.org/FindUserLDAPDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoLogin_Info">
      <soap12:operation soapAction="http://tempuri.org/DoLogin_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoLogin">
      <soap12:operation soapAction="http://tempuri.org/DoLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserLDAP">
      <soap12:operation soapAction="http://tempuri.org/FindUserLDAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserLDAPDomain">
      <soap12:operation soapAction="http://tempuri.org/FindUserLDAPDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.10.40.161/ldap/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.10.40.161/ldap/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>